body {
    color: red;
}
.cardui .card {
    position: relative;
    top: 100px;
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    border: none;
}
.cardui .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}
.cardui .card.body {
    padding: 3rem 0 !important;
}
.cardui .card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.cardui .overflow {
    position: absolute;
    top: 100px;
}
.cardui .cardItem {
    position: absolute;
    bottom: 200px;
    left: 80px;
}
