.slider__card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.slider__img {
    width: 100%;
    border-radius: 20px;
}

.slider__title {
    color: #7a7a7a;
    font-size: 18px;
    line-height: 26px;
}

.slider__info {
    color: #d9d9d9;
    font-size: 14px;
    line-height: 13px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 48px;
    height: 48px;
    background: linear-gradient(322.12deg, #b1e2ff 1.25%, #68c7ff 89.56%);
    border-radius: 25px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
}
.slider__relative {
    position: relative;
}
.swiper-button-disabled {
    background: #d9d9d9;
}
.swiper-button-prev {
    left: -20px;
    top: calc(50% - 24px) !important;
}
.swiper-button-next {
    right: -20px;
    top: calc(50% - 24px) !important;
}
.swiper-container {
    position: static;
}
.swiper-pagination {
    bottom: -20px !important;
    display: none;
}
.swiper-pagination-bullet-active {
    background: #fe0002;
    width: 20px !important;
    height: 4px !important;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 2.67px;
    border-radius: 5px;
}
@media (max-width: 575px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        top: 87px !important;
    }
    .swiper-pagination {
        display: block;
    }
}
