.news__card {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px !important;
}
.news_theme p {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #52bfff;
    margin: 40px 0;
}
.news__card a {
    text-decoration: none !important;
    color: #7a7a7a !important;
}
.news__img {
    border-radius: 20px;
}
.news__title {
    color: #7a7a7a;
    /*font-size: 18px;*/
    line-height: 26px;
}
.news__text {
    color: #7a7a7a;
    line-height: 22px;
}
.news__icon {
    color: #52bfff;
}
.news__info {
    color: #7a7a7a;
}
/*media*/
@media (max-width: 576px) {
    .news__title {
        font-size: 14px;
    }
    .news__text,
    .news__info {
        font-size: 10px;
    }
}
