#students .student_theme p {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #52bfff;
    margin: 40px 0;
}
#students .student_card {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom: 20px;
}
#students .swiper-container {
    width: 866px;
    height: 100%;
}
#students .swiper-slide {
    overflow: hidden;
    /* width: 220px !important; */
}
#students .swiper-zoom-container img {
    width: 300px !important;
    padding: 0 35px 0 30px !important;
}
#students .student_text {
    margin-left: 10px;
}
#students .student_text p:nth-child(1) {
    font-size: 18px;
    line-height: 26px;
    color: #7a7a7a;
}
#students .text_right {
    float: right !important;
    margin: -40px 10px 0 0;
}
#students .text_right img {
    height: 14px !important;
    margin: 4px 10px 0 0;
}
#students .text_right p {
    font-size: 12px;
    line-height: 20px;
    color: #7a7a7a;
}
#students .student_text p:nth-child(3) {
    font-size: 14px;
    line-height: 22px;
    color: #7a7a7a;
}
#students .btn {
    width: 100%;
    background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);
    border-radius: 50px !important;
    text-align: center !important;
}
#students .student_cricle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: linear-gradient(322.12deg, #b1e2ff 1.25%, #68c7ff 89.56%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#students .student_cricle svg {
    margin-top: 12px;
}
#students .btn p {
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
    margin: 0 0 0 45px;
}

#students .swiper-button-prev, #students .swiper-button-next {
    display: none !important;
}

@media screen and (max-width: 1400px) {
    #students .text_right {
        float: none !important;
        margin: 0;
    }
    #students .student_text {
        margin-top: 10px;
    }
    #students .swiper-container {
        width: 200px;
        height: 100%;
    }
}
@media screen and (max-width: 1200px) {
    #students .swiper-container {
        width: 200px;
        height: 100%;
    }
}
