#why {
    margin-top: 140px !important;
    margin-bottom: 150px !important;
}

#why span {
    font-weight: bold !important;
}

#why .whyTopic {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #52bfff;
}

#why .allText {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #7a7a7a;
}

#why .whyBorder1 {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 12px !important;
}

#why .mx1 {
    padding-right: 10px !important;
}

#why .mx2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#why .mx3 {
    padding-right: 10px !important;
}

#why .whyBorder2 {
    border: 1px dashed #ecf6fc;
    box-sizing: border-box;
    border-radius: 20px;
}

#why .mt {
    margin-top: 90px !important;
}

#why .whyImage {
    width: 150px !important;
    height: 130px !important;
    z-index: 2;
    top: -80px !important;
    left: calc(50% - 63px);
}

#why .whyImage > div {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#why .whyText {
    margin-top: 60px !important;
    margin-bottom: 18px;
}
